@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary: #4db2ec;
  --grey1: #dad8d8;
  --grey2: #828282;
  --orange: #ffa238;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: #fcfafa;
  font-weight: 400;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.d_flex {
  display: flex;
  align-items: center;
}

.app {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  box-sizing: border-box;
}

.header {
  background-color: #222;
  height: 7.5rem;
  line-height: 7.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: fixed;
}

.navigation {
  justify-content: space-between;
  height: 100%;
}

.nav_list {
  margin-right: 20rem;
}

.nav_list li {
  list-style-type: none;
}

.nav_list li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  transition: color 300ms ease-in-out;
}

.nav_list li a:hover {
  color: var(--primary);
}

.nav_list li .checked {
  text-decoration: 1px underline var(--primary);
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  margin-left: 20rem;
}

.hamburger {
  color: white;
  display: none;
}

@media (max-width: 567px) {
  .nav_list {
    margin: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 80%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    transition: all 500ms ease-in-out;
  }

  .nav_list.show {
    left: 0;
  }

  .logo {
    font-size: 2.5rem;
  }

  .nav_list li:not(:last-child) {
    margin-right: 0;
  }

  .nav_list li {
    margin: 0 0 0.5rem;
    display: block;
    width: 100%;
  }

  .nav_list li a {
    color: black;
    font-size: 1.8rem;
    width: 100%;
  }

  .hamburger {
    display: block;
    font-size: 3rem;
    cursor: pointer;
  }
}

/* Main */
main {
  margin-top: 8.5rem;
}

.ad {
  max-width: 84rem;
  height: 13rem;
  padding: 0 2rem;
  margin: 5rem auto;
  justify-content: center;
}

.ad a,
.ad img {
  width: 100%;
  height: 100%;
}

/* Content */
#content {
  min-height: 70vh;
  margin: 0 20rem;
}

.blog_layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  gap: 3rem;
}

.blog {
  background-color: white;
  transition: all 300ms ease-out;
  display: none;
}

.blog:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.blog .blog_img {
  margin: 1.5rem 1.5rem 0;
  height: 25rem;
}

.blog .blog_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog .blog_text {
  padding: 1.5rem;
}

.blog .blog_text h2 {
  margin-bottom: 1rem;
  height: auto;
}

.blog .blog_text h2 a {
  color: black;
}

.blog .category {
  margin-right: 1rem;
  background-color: var(--grey1);
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

.blog .date {
  font-size: 1.4rem;
  color: var(--orange);
}

.blog .author {
  margin-top: 1rem;
}

.blog .author_image {
  border-radius: 50%;
  overflow: hidden;
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
}

.blog .author_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 776px) {
  .nav_list {
    margin-right: 9rem;
  }

  .logo {
    margin-left: 9rem;
  }

  #content {
    margin: 0 10rem;
  }
}

@media (max-width: 567px) {
  .hamburger {
    margin-right: 3rem;
  }

  .logo {
    margin-left: 3rem;
  }

  .blog {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .blog .blog_text h2 {
    height: auto;
    font-size: 2rem;
  }

  .ad {
    margin: 1rem auto;
    height: 10rem;
  }

  .ad a img {
    object-fit: contain;
  }

  .blog .blog_img {
    height: 20rem;
  }
}

@media (max-width: 470px) {
  .hamburger {
    margin-right: 2rem;
  }

  .logo {
    margin-left: 2rem;
  }

  #content {
    margin: 0 3rem;
  }
}

.load_btn {
  margin-top: 5rem;
  text-align: center;
}

.load {
  outline: none;
  border: none;
  background-color: var(--primary);
  color: white;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.load:hover {
  background-color: black;
}

.footer {
  background-color: white;
  padding: 2rem;
}

.footer .layout {
  max-width: 30rem;
  margin: 0 auto;
  justify-content: space-between;
}

.footer p {
  margin-right: 3rem;
}

.footer a {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.blog_detail {
  max-width: 125rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  gap: 2rem;
}

.article_container {
  background-color: white;
  padding: 2rem;
  border: 1px solid #ddd;
}

.side_ad {
  position: sticky;
  top: 13rem;
  display: flex;
  justify-content: center;
  height: 500px;
  border: 1px solid #ddd;
  z-index: -1;
}

.details_content {
  min-height: 70vh;
}

.side_ad a,
.side_ad img {
  width: 100%;
  height: 100%;
}

.side_ad img {
  object-fit: cover;
}

.article_container .top {
  text-align: center;
}

.article_container .top h1 {
  margin-bottom: 1rem;
  color: black;
}

.article_container .top .info {
  justify-content: center;
}

.article_container .top .info span:first-child {
  margin-right: 15px;
}

.article_container .top .info span {
  color: var(--grey2);
}

.article_container .top .info span i {
  margin-right: 5px;
}

.article_container .featured_image {
  width: 100%;
  height: 45rem;
  margin: 3rem 0;
  border-radius: 1rem;
  overflow: hidden;
}

.article_container .featured_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article_container .content p {
  line-height: 1.5;
  margin-bottom: 2rem;
  color: black;
}

.article_container .content .content_img {
  max-width: 55rem;
  width: 100%;
  height: 40rem;
  margin: 3rem auto;
}

.article_container .content .content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article_container .content h4 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.article_container .ad {
  margin: 0 auto 2rem;
}

@media (max-width: 1200px) {
  .blog_detail {
    grid-template-columns: 1fr;
    max-width: 800px;
    gap: 0;
  }

  .side_ad {
    display: none;
  }
}

@media (max-width: 850px) {
  .article_container .featured_image,
  .article_container.content .content_img {
    height: 30rem;
  }
}

@media (max-width: 567px) {
  .article_container .top h1 {
    font-size: 2rem;
  }

  .article_container .featured_image,
  .article_container.content .content_img {
    height: 25rem;
    margin: 1rem 0;
  }
}

/* Contact Us Form */

.form {
  max-width: 55rem;
  margin: 0 auto;
}

.form h4 {
  font-size: 2.5rem;
}

.form input,
.form textarea {
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: block;
  border: 1px solid #e1e1e1;
  color: #333;
  padding: 1rem 0;
  text-indent: 1rem;
  margin-top: 1rem;
  background-color: white;
}

.form input:focus,
.form textarea:focus {
  outline: none;
}

.form button {
  border: none;
  outline: none;
  padding: 0.7rem 2rem;
  font-size: 13px;
  margin-top: 1rem;
  background-color: #222;
  color: white;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form button:hover {
  background-color: var(--primary);
}
